# <center> Tipos de Datos en Python I </center> 
<center>  <img src="images/logo.png" alt="Drawing" style="width: 200px;"/> </center> 

# <center> Aprendizaje Interactivo </center> 
    
<div style="text-align: justify"> En cualquier lenguaje de programación de alto nivel como es Python se manejan diferentes tipos de datos. Los tipos de datos definen un conjunto de valores que tienen una serie de características y propiedades determinadas.En Python, todo valor que pueda ser asignado a una variable tiene asociado un tipo de dato.operaciones se pueden realizar sobre la misma.</div><br>    

<div style="text-align: justify">Considerando que en Python todo es un objeto, los tipos de datos serían las clases (donde se definen las propiedades y qué se puede hacer con ellas) y las variables serían las instancias (objetos) de los tipos de datos. En los próximos módulos comentaremos más en detalle sobre lo que son las clases y objetos. </div><br> 
En este cuaderno aprenderemos sobre tres tipos de datos ampliamente usados en Pyhton:

- Datos Numéricos
- Datos Booleanos
- Cadenas de Caracteres


## Objetivos:

- Conocer los distintos tipos de datos numéricos, booleanos y candenas de caracteres
- Aprender a definir y operar con ellos
- Introducir las estructuras de datos denominadas Listas
- Apreder que son las variables
    
    
## Referencias

 * The Python Language Reference: https://docs.python.org/3/reference/index.html
 * The Python Standard Library: https://docs.python.org/3/library/index.html
 * IBM Jupyter notebooks cheatsheet https://www.ibm.com/docs/en/db2-event-store/2.0.0?topic=notebooks-markdown-jupyter-cheatsheet

<div style="text-align: justify">Antes de comenzar con los tipos de datos en Python, revisaremos dos funciones que nos permiten ver el tipo de datos de un objeto. Recordemos que en Python, casi todo es tratado como un objeto. </div>

**Función type( ):** permite examinar el tipo a que corresponde un dato determinado.<br>
**Función isintance( ):** devuelve el tipo del objeto



## type( )
```python
type(25)
type(0.35)
type(5j)
type('Pablo')
```

## isintance( )
```python
isinstance(25, int)
isinstance(0.35, float)
isinstance(5j, complex)
isinstance('Pablo', str)
```

# Ejercicio: 
A continuación, te dejamos un ejercicio para que compruebes los tipos de datos de siguientes elementos:
    
    - 34556
    - 21
    - 6.385
    - 84.32
    - 'Palabra'
    - 'Texto Nombre'
    - '4 + 5j'
    - '19j'
    
    
## Por ejemplo: 
```python
type(345)                # tipo de dato resultante
isinstance(345, int)     # verificamos el tipo de dato
```

# Datos numéricos
<br>

<div style="text-align: justify">Este tipo de dato comprende el conjunto de todos los números enteros, pero como dicho conjunto es infinito, en Python el conjunto está limitado realmente por la capacidad de la memoria disponible. Permiten representar valores escalares de forma numérica, incluyendo números enteros (8,34.29) y reales (8 - 4j). Este tipo de datos permite realizar operaciones aritméticas comunes.</div>

Python define tres tipos de datos numéricos:

- Enteros **int**. Ej., 5, 89, 0, 19238
- Números de punto flotante **float**. Ej., 5.485, 8.3, 0.34, 19.238
- Números complejos **complex**. Ej., 5j, 8+4j, 19 - 8j

Un número de tipo **int** se crea a partir de un literal que represente un número entero o bien como resultado de una expresión o una llamada a una función como vemos a continuación:

```python
a = 5       # A partir de un número
b = 5 - 10  # A partir de una expresión
```

<div style="text-align: justify">Recordemos que para ver el resultado el contenido, en los cuadernos de Jupyter podemos indroducir el valor de la variable o la expresión directamente en la celda de código, o utilizar la función print() que nos imprime en pantalla el valor o resultado de una operación, por ejemplo: </div>

```python
4 + 3 - 10
print(a)
print(4 + 3 - 10)
```

En Python 3, la división entre enteros nos devuelve un número real. Por otra parte, se puede forzar que la división sea entera con el operador **`//`**. Veamos un ejemplo:
<img src="images/div.jpg" alt="Drawing" style="width: 500px;"/> 


Para elevar un número a otro, se puede utilizar el operador `**`. Veamos un ejemplo:
<img src="images/pot.jpg" alt="Drawing" style="width: 500px;"/> 

## Números complejos 
<br>
<div style="text-align: justify">En relación a los números complejos, se componen de una parte real y una parte imaginaria. En Python, la parte imaginaria se puede expresar simplemente agregando una j o una J después del número. También podemos usar la función incorporada complex() para convertir los dos números reales dados en un número complejo. Veamos unos ejemplos:</div>

<img src="images/complex.jpg" alt="Drawing" style="width: 600px;"/> 



## Valor absoluto
<br>
La función abs(), se utiliza para devolver el valor absoluto de un número, es decir, eliminará el signo negativo del número. abs() toma solo un argumento, un número cuyo valor absoluto se devolverá. El argumento puede ser un número entero int, un número de coma flotante float, o un número complejo complex. Veamos un ejemplo de uso: 


<img src="images/abs.jpg" alt="Drawing" style="width: 400px;"/> 



## Generalizades
<br>
Un aspecto a tener encuenta:  las divisiones por cero lanzan un error:

<img src="images/error2.jpg" alt="Drawing" style="width: 600px;"/> 

Más adelante veremos cómo tratar estos errores. Por otro lado, cuando usemos la librería NumPy esta operación devolverá `NaN`.


Por último, recuerde que si introducimos una variable, por ejemplo **a**; ésta debe haber sido previamente definida en el cuaderno de Jupyter; caso contrario, se nos presentará un error: 

<img src="images/error1.jpg" alt="Drawing" style="width: 600px;"/>

# Ejercicio: 

Intente realizar las siguientes operaciones con datos del tipo numérico. Verifique el resultado de cada operación y el tipo de dato resultante:

- a = 35/5 + 20 - 10
- b = 20 // 3 + 102 // 2 
- c = 20/0
- d = 38 * 20 / 12
- e = 20 // 5
- f = 145 / 1 + 124 ** 2
- g = abs(-180 / 23)
- h = 1245 + 1j + 7j
- i = 4j - 23j + 4
- k = 23 ** 6
- l = 7643 ** 0 + 1

## Por ejemplo: 
```python
h = 45 + 4j - 7j       # operación
print(h)               # resultado
isinstance(h, complex) # verificamos el tipo de dato
type(h)                # tipo de dato resultante
```

# Datos Lógicos

Una variable lógica o **booleana** es aquella que sólo puede tomar dos posibles valores:

- Verdadero (True) 
- Falso (false)


En Python, los elementos nulos o vacíos se consideran False y el resto se consideran True. Veamos algunos ejemplos: 

```python
a = bool(0)
b = True
c = False

```

# Ejercicio: 

Defina a, b como variables booleanas `True` y `False` respectivamente. Compruebe el tipo de cada variable.

# Conversión entre tipos de datos

- `int()` puede tomar un literal `float` o `bool` como argumento y devuelve un valor de tipo `int`.
- `float()` puede tomar como argumento tipo `int` o `bool` y devuelve un valor del tipo `float`.
- `str()` puede tomar un literal de `float`, `int`, `bool` como argumento y devuelve un valor del tipo `str`.
- `bool()` puede tomar un literal de `float`, `int` o `str` como argumento y devuelve un valor del tipo `bool`.

# Ejercicio: 

Puede probar la conversión de los siguientes datos: 
```python
int(5.384) # toma un float
int(True) # toma un bool
float(5) # toma un int
float(False) # toma un bool
str(34) # toma un int
str(3.4) # toma un float
bool(3) # toma un int
bool(0.0) # toma un float
```